<div class="section" id="carousel">
    <div class="container">
        <div class="tim-title">
            <h2>Natur und Imkerei im Jahresverlauf</h2>
        </div>
        <div class="section section-buttons">
            <div class="container">
                <div class="buttons">
                    <div class="row">
                        <button id="0" type="button" class="carousel-btn btn btn-outline-info btn-round">Januar</button>
                        <button id="1" type="button" class="carousel-btn btn btn-outline-info btn-round">Februar</button>
                        <button id="2" type="button" class="carousel-btn btn btn-outline-info btn-round">März</button>
                        <button id="3" type="button" class="carousel-btn btn btn-outline-danger btn-round">April</button>
                        <button id="4" type="button" class="carousel-btn btn btn-outline-danger btn-round">Mai</button>
                        <button id="5" type="button" class="carousel-btn btn btn-outline-danger btn-round">Juni</button>
                        <button id="6" type="button" class="carousel-btn btn btn-outline-danger btn-round">Juli</button>
                        <button id="7" type="button" class="carousel-btn btn btn-outline-danger btn-round">August</button>
                        <button id="8" type="button" class="carousel-btn btn btn-outline-danger btn-round">September</button>
                        <button id="9" type="button" class="carousel-btn btn btn-outline-info btn-round">Oktober</button>
                        <button id="10" type="button" class="carousel-btn btn btn-outline-info btn-round">November</button>
                        <button id="11" type="button" class="carousel-btn btn btn-outline-info btn-round">Dezember</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="januar" class="card page-carousel">
                <h5>
                    Imkerei im Januar
                </h5>
                <ngb-carousel #carousel [interval]="3000" [pauseOnHover]="pauseOnHover">
                    <ng-template ngbSlide *ngFor="let asset of assets_januar; index as i">
                        <img [src]="asset[0]" alt="assets_januar[i][1]">
                        <div class="carousel-caption">
                            <h3>{{assets_januar[i][1]}}</h3>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
            <div id="februar" class="card page-carousel ghost">
                <h5>
                    Natur und Bienen im Februar
                </h5>
                <ngb-carousel #carousel [interval]="3000" [pauseOnHover]="pauseOnHover">
                    <ng-template ngbSlide *ngFor="let asset of assets_februar; index as i">
                        <img [src]="asset[0]" alt="assets_februar[i][1]">
                        <div class="carousel-caption">
                            <h3>{{assets_februar[i][1]}}</h3>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
            <div id="märz" class="card page-carousel ghost">
                <h5>
                    Immer noch Winter im März
                </h5>
                <ngb-carousel #carousel [interval]="3000" [pauseOnHover]="pauseOnHover">
                    <ng-template ngbSlide *ngFor="let asset of assets_maerz; index as i">
                        <img [src]="asset[0]" alt="assets_maerz[i][1]">
                        <div class="carousel-caption">
                            <h3>{{assets_maerz[i][1]}}</h3>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
            <div id="april" class="card page-carousel ghost">
                <h5>
                    Es wird Frühling
                </h5>
                <ngb-carousel #carousel [interval]="3000" [pauseOnHover]="pauseOnHover">
                    <ng-template ngbSlide *ngFor="let asset of assets_april; index as i">
                        <img [src]="asset[0]" alt="assets_april[i][1]">
                        <div class="carousel-caption">
                            <h3>{{assets_april[i][1]}}</h3>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
            <div id="mai" class="card page-carousel ghost">
                <h5>
                    Bienen und Natur im Mai
                </h5>
                <ngb-carousel #carousel [interval]="3000" [pauseOnHover]="pauseOnHover">
                    <ng-template ngbSlide *ngFor="let asset of assets_mai; index as i">
                        <img [src]="asset[0]" alt="assets_mai[i][1]">
                        <div class="carousel-caption">
                            <h3>{{assets_mai[i][1]}}</h3>
                        </div>
                    </ng-template>
                </ngb-carousel>
            </div>
        </div>
    </div>
</div>