<a name="RegionalerHonig"></a>
<div class="section section-buttons">
    <div class="container">
        <div class="tim-title">
            <h2>Regionaler Honig aus Großbettlingen</h2>
            <br>
            <p>Honig aus Deutschland ist ein Beitrag zum Umweltschutz. Mit dem Genuss von Imkerhonig aus der Heimat leisten Sie einen aktiven Beitrag zum Erhalt der Artenvielfalt. Über Dreiviertel der heimischen Pflanzen und rund 80% der Erträge der deutschen Landwirtschaft hängen von der Bestäubung durch Honigbienen ab. Der allein durch die Bienen ermöglichte zusätzliche Obstertrag übertrifft den Wert des geernteten Honigs um das 10-fache. Mit dem Kauf lokaler Honige, tragen Sie zum Erhalt der Bienen bei und sichern die für uns alle so wichtige Bestäubung unserer Kultur- und Wildpflanzen. Und noch dazu schmeckt der heimische Honig einfach hervorragend.</p>
        </div>
    </div>
    <div class="section section-navbars">
        <div id="navbar">
            <div class="navigation-example">
                <nav class="navbar navbar-expand-lg navbar-transparent">
                    <div class="container">
                        <a class="navbar-brand" href="#"></a>
                        <div class="collapse navbar-collapse" id="navbar-transparent">
                        </div>
                    </div>
                </nav>
                <a name="Imkerei"></a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="tim-title">
            <h2>Die Imkerei der Familie Brandstetter</h2>
            <br>
            <p>Zunächst war es reine Neugier an der Natur, der Haltung und der Lebensweise der Bienen. Mit zunehmendem Wissen wuchs auch die Freude an der Imkerei und ein neues Hobby war gefunden. Gestartet wurde das Projekt im Januar 2008 mit einem Kurs bei Dr. Liebig an der Universität Hohenheim, wo auch die benötigte <a href="/#/sachkunde">Sachkunde</a> erlangt wurde. Im April des selben Jahres, wurde dort auch das erste Bienenvolk erworben. Bis heute sind wir Mitglied im Imkerverein BV Nürtingen.
                Die Bienen, die unseren Honig produzieren, leben am Fuße der schwäbischen Alb inmitten von Apfel-, Kirsch- und Birnenbäumen im Biosphärengebiet der Schwäbischen Alb. Unser Ziel ist nicht die Maximierung des Honigertrags, sondern ein natürliches Wachsen und Gedeihen im Einklang mit dem jahreszeitlich wechselnden Nahrungsangebot. Dieses Nahrungsangebot reicht von den frühen Obstblüten über vielerlei wilde Wiesenblumen, Lindenblüten, bis hin zu Anteilen aus den Hangwäldern des Albtraufs.
                Aktuell sammeln für uns 12 Bienenvölker an unterschiedlichen Standorten auf der Gemarkung Großbettlingen.
            </p>
        </div>
    </div>
</div>
<div class="owner">
    <div class="avatar">
        <img id="armin" alt="Eva und Armin Brandstetter" class="img-circle img-no-padding img-responsive">
    </div>
    <div class="name">
        <h4 class="title">Eva und Armin Brandstetter</h4>
    </div>
</div>