<div class="section section-buttons">
    <div class="container">
        <div class="tim-title">
            <h2>Regionaler Honig aus Großbettlingen</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
    </div>

    <div class="section section-navbars">
        <div id="navbar">
            <div class="navigation-example">
                <nav class="navbar navbar-expand-lg navbar-transparent">
                    <div class="container">
                        <a class="navbar-brand" href="#"></a>
                        <div class="collapse navbar-collapse" id="navbar-transparent">
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="tim-title">
            <h2>Die Imkerei der Familie Brandstetter</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
</div>
<div class="owner">
    <div class="avatar">
        <img src="./assets/img/faces/armin.jpeg" alt="Eva und Armin Brandstetter" class="img-circle img-no-padding img-responsive">
    </div>
    <div class="name">
        <h4 class="title">Eva und Armin Brandstetter</h4>
    </div>
</div>    
