<a name="Produkte"></a>
<div class="section section-buttons">
    <div class="container">
        <div class="tim-title">
            <h2>Unsere Produkte</h2>
            <br>
            <p>Wir schleudern zwei Mal im Jahr, daher können wir Frühjahrsblüten- und Sommerblütenhonig anbieten. Die Konsistenz des Honigs hängt von der jeweiligen Trachtpflanze ab. Nach dem Schleudern besitzt jeder Honig eine flüssige Konsistenz. Von Tracht und Lagerung ist es abhängig, wie lange dieser Zustand erhalten bleibt. Je höher der Fructoseanteil des Honigs, desto länger bleibt er flüssig.</p>
            <p>Die Kristalle im Honig bilden sich um Pollenpartikel im Honig, einer der Inhaltsstoff, der den Honig so gesund macht.</p>
            <p>Um cremigen Honig zu erzeugen, wird teilweise kristallisierter Honig gerührt, und somit die Kristalle gebrochen. Cremiger Honig verändert seine Konsistenz daher nicht mehr.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="products">
        <div class="left">
            <h4 class="images-title">Frühjahrsblütenhonig</h4>
            <p>cremig, gewonnen aus Löwenzahn, Apfel und Kirschblüten, 500gr</p>
            <img id="fruehling_cremig" class="img-thumbnail img-responsive" alt="Cremiger Frühlingshonig">
        </div>
        <div class="right">
            <h4 class="images-title">Sommerblütenhonig</h4>
            <p>flüssig, gewonnen aus Lindenblüten und anderen Sommerblüten, 500g</p>
            <img id="sommer_fluessig" class="img-thumbnail img-responsive" alt="Flüssiger Sommerblütenhonig">
        </div>
    </div>
</div>
<div class="section-buttons">
    <div class="section-navbars">
        <div id="navbar">
            <div class="navigation-example">
                <nav class="navbar navbar-expand-lg navbar-transparent">
                    <div class="container">
                        <a class="navbar-brand" href="#"></a>
                        <div class="collapse navbar-collapse" id="navbar-transparent">
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>    

