
<div class="section-buttons">
    <div class="container">
        <div class="tim-title">
            <h3>Unsere Produkte</h3>
            <br>
            <p>Wir schleudern zwei Mal im Jahr, daher können wir Frühjahrsblüten- und Sommerblütenhonig anbieten. Die Konsistenz des Honigs hängt von der jeweiligen Trachtpflanze ab. Nach dem Schleudern besitzt jeder Honig eine flüssige Konsistenz. Von Tracht und Lagerung ist es abhängig, wie lange dieser Zustand erhalten bleibt. Je höher der Fructoseanteil des Honigs, desto länger bleibt er flüssig.</p>
            <p>Die Kristalle im Honig bilden sich um Pollenpartikel im Honig, einer der Inhaltsstoff, der den Honig so gesund macht.</p>
            <p>Um cremigen Honig zu erzeugen, wird teilweise kristallisierter Honig gerührt, und somit die Kristalle gebrochen. Cremiger Honig verändert seine Konsistenz daher nicht mehr.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="products">
        <div class="right">
            <h4 class="images-title">Flüssiger Frühlingshonig</h4>
            <img src="/assets/img/honig_cremig.jpg" class="img-thumbnail img-responsive" alt="Flüssiger Frühlingshonig">
        </div>
        <div class="left">
            <h4 class="images-title">Cremiger Frühlingshonig</h4>
            <img src="/assets/img/honig_cremig.jpg" class="img-thumbnail img-responsive" alt="Cremiger Frühlingshonig">
        </div>
        <div class="right">
            <h4 class="images-title">Flüssiger Sommerhonig</h4>
            <img src="/assets/img/honig_cremig.jpg" class="img-thumbnail img-responsive" alt="Flüssiger Sommerblütenhonig">
        </div>
        <div class="left">
            <h4 class="images-title">Cremiger Sommerhonig</h4>
            <img src="/assets/img/honig_cremig.jpg" class="img-thumbnail img-responsive" alt="Cremiger Sommerblütenhonig">
        </div>
    </div>

</div>
<div class="section-buttons">
    <div class="section-navbars">
        <div id="navbar">
            <div class="navigation-example">
                <nav class="navbar navbar-expand-lg navbar-transparent">
                    <div class="container">
                        <a class="navbar-brand" href="#"></a>
                        <div class="collapse navbar-collapse" id="navbar-transparent">
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>    

