
.right {
    float: right;
    width: 40%;
    height: auto;
    padding-bottom: 20px;
  }

.left {
  float: left;
  width: 40%;
  height: auto;
  padding-bottom: 20px;
}

.products{
  display: inline-block;
  padding-bottom: 20px;
}