<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/grossbettlingen.jpg')">
        <!--<div class="filter"></div>-->
        <!--<div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
        <div class="moving-clouds" style="background-image: url('assets/img/fog-low.png'); "></div>-->
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">Imkerei Brandstetter</h1>
                </div>
                <h2 class="presentation-subtitle text-center">Honig von glücklichen Bienen</h2>
            </div>
        </div>
    </div>
    <div class="main">
      <app-imkerei></app-imkerei>
      <app-produkte></app-produkte>
      <app-carousel></app-carousel>
      <app-honig></app-honig>
    </div>
</div>
