img {
    float: right;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }

.embedded-img{
    height: auto;
    width: 40%
}

figcaption {
  color: rgb(66, 65, 65);
  font: smaller sans-serif;
  text-align: center;
}
