<a name="Honig"></a>
<div class="section section-navbars">
    <div id="navbar">
        <nav class="navbar navbar-expand-lg bg-danger">
            <div class="container">
                <a class="navbar-brand" href="#Honig">Warum Honig?</a>
                <div class="collapse navbar-collapse" id="navbar-danger">
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="tim-title">
                <h2>Honig als Nahrungsmittel</h2>
                <br/>
            </div>
        </div>
        <div class="container">
            <br>
            <div>
                <img src="/assets/img/rezepte_festtage.jpg" class="embedded-img" alt="Honig Rezept">
            </div>
            <p>
                Honig ist sehr vielseitig einsetzbar, sowohl in herzhaften als auch in süßen Speisen sehr lecker!
            </p>
            <br>
            <h5>
                Salatdressing
            </h5>
            <ul>
                4 EL Olivenöl<br>
                2 EL Balsamico<br>
                1 TL Senf<br>
                1 knapper TL Salz<br>
                Pfeffer<br>
                1 TL flüssiger Honig, am besten Blütenhonig<br>
                4 EL Wasser<br>
            </ul>
            <p>
                Alle Zutaten mit dem Schneebesen cremig schlagen und unter den Salat mischen. Das Dressing kann nach Belieben mit Kräutern, Creme fraiche oder Sahne ergänzt werden.
            </p>
            <br>
            <h5>
                Flammkuchen mit Ziegenkäse Rosmarin und Honig
            </h5>

            <h6>Für den Teig</h6>
            <ul>
                200g Mehl<br>
                2 EL Öl<br>
                125ml Wasser<br>
            </ul>
            <h6>Für den Belag</h6>
            <ul>
                200g Crème double<br>
                200g Zwiebel<br>
                200g Ziegenkäse<br>
                3 EL Rosmarin, frisch, fein gehackt<br>
                2 EL Honig<br>
            </ul>
            <br>
            <p>
                Für den Teig das Mehl, Öl, Wasser und Salz zu einem geschmeidigen, nicht mehr klebenden Teig verarbeiten, evtl. noch etwas Mehl hinzufügen. Den Teig dünn auf einem gefetteten Backblech ausrollen. <br>
                Die Crème Double leicht salzen und auf den Teig geben. Die Zwiebeln in sehr dünne Ringe schneiden und auf dem Teig verteilen. Den Ziegenkäse in dünne Scheiben schneiden und ebenfalls auf den Teig legen. Dann die Rosmarinblättchen darüber streuen, bei getrocknetem Rosmarin vorsichtiger dosieren.<br>
                Den Flammkuchen auf höchster Stufe 15 - 20 Minuten backen, bis der Rand schön braun ist und der Käse anfängt, zu zerlaufen.<br>
                Nach dem Backen den flüssigen Honig mit einem Löffel in dünnem Strahl über den Käse geben oder separat dazu reichen. Sofort heiß servieren.<br>
            </p>
            <p>Quelle: <a href="https://www.chefkoch.de/rezepte/1248831229862746/Flammkuchen-mit-Ziegenkaese-Rosmarin-und-Honig.html">Chefkoch</a></p>
            <br>
        </div>
        <div class="container">
            <h5>
                Griechischer Joghurt mit Honig und Walnüssen
            </h5>
            <ul>
                800g griechischer Joghurt <br>
                16 Walnüsse <br>
                8 EL Honig <br>
            </ul>
            <p>
                Walnüsse aus der Schale lösen und in etwas kleinere Stücke brechen oder hacken. Joghurt in eine Schale geben. Eine dünne Schicht flüssigen Honig darüber verteilen und schließlich die Nüsse darüber streuen.
            </p>
            <p>Quelle: <a href="https://www.chefkoch.de/rezepte/1402641245176359/Griechischer-Joghurt-mit-Honig-und-Walnuessen.html">Chefkoch</a></p>
            <p>Bildquelle: Bienenpflege Dez. 1959</p>
            <br>
        </div>
        <div class="container">
            <div class="tim-title">
                <h2>Honig in der Naturkosmetik</h2>
                <br/>
            </div>
        </div>
        <div class="container">
            <br>
            <p>
                In der Kosmetik ist Honig mit seinen umfangreichen natürlichen Inhaltsstoffen vielfältig einsetzbar. Honig wirkt abschwellend, antiseptisch, glättend, reinigend und feuchtigkeitsspendend. Selbstverständlich können wirksame Cremeformulierungen zuhause hergestellt werden, dafür braucht es aber spezielle Rohstoffe, die nur im Fachhandel zu bekommen sind. Doch auch aus ganz einfachen Zutaten, die in jeder Küche oder im nahen Supermarkt zu finden sind, lassen sich in Verbindung mit Honig pflegende Wellnessprodukte herstellen:
            </p>
            <ul>
                <li>Gesichtsmasken aus Quark oder Joghurt, zusammen mit Honig und pflegenden Ölen, auch für rauhe und rissige Hände eine Wohltat</li>
                <li>Peelings aus denselben Zutaten, dazu noch feines Salz oder Zucker, gemahlene Mandeln oder Mohnsamen für den Peeling-Effekt</li>
                <li>Wohltuende Bäder mit Honig, Milch oder Sahne – Baden wie Kleopatra</li>
                <li>Haarkuren mit Honig, Eigelb und/oder Apfelessig für kräftiges und glänzendes Haar</li>
            </ul>
            <p>
                Weiterführende Links:
            </p>
            <ul>
                <li><a href="https://naturseife-und-kosmetik.de/honig-kosmetik-honig-fuer-die-hautpflege/">Honig für die Hautpflege</a></li>
                <li><a href="https://bienenkunde.uni-hohenheim.de/79559">Crèmes und Körperlotionen</a></li>
                <li><a href="https://www.smarticular.net/honig-hautpflege-haare-wirkung-bienenkosmetik-gesicht-heilmittel/9">Honig für die Haarpflege</a></li>
                <li><a href="https://www.womenshealth.de/beauty/honig-rezepte-fuer-schoene-haut-und-haare/">Honig für schöne Haut und Haare</a></li>
            </ul>
            <br>
        </div>
        <div class="container">
            <div class="tim-title">
                <h2>Honig als Heilmittel</h2>
                <br/>
            </div>
        </div>
        <div class="container">
            <div class="inline">
                <br>
                <div>
                    <img src="/assets/img/heilmittel.jpg" class="embedded-img" alt="Honig als Heilmittel">
                </div>
                <p>
                    Bereits in der Antike wurden Bienen zur Honiggewinnung gehalten. Neben den Ägyptern erkannten auch die Griechen die heilsame Wirkung des Honigs. Honig ist bakterienfeindlich und entzündungshemmend und wird bis heute als althergebrachtes Hausmittel verwendet.
                    Honig ist ein unersetzlicher Helfer bei Erkältungen. Bei Halsschmerzen verschafft einTeelöffel Honig mehrmals am Tag pur eingenommen schnell Linderung. Honig ist ein unersetzlicher Helfer bei Erkältungen. Bei Halsschmerzen verschafft einTeelöffel Honig mehrmals am Tag pur eingenommen schnell Linderung. 
                    In Verbindung mit Zwiebeln kann mit Honig ein heilsamer Hustensaft hergestellt werden (<a href="https://www.kostbarenatur.net/rezepte/zwiebel-honig-gegen-husten-zubereitung-anwendung/">Link</a>).
                </p>
                <p>
                    Für Kleinkinder bis zu einem Jahr ist Honig jedoch ungeeignet. Im Honig können Bakterien vorhanden sein, mit denen der erwachsene Organismus problemlos umgehen kann. Bei Babys besteht durch das noch unreife Immunsystem die Gefahr von lebensbedrohlichen Erkrankungen. 
                </p>
                <p>
                    Honig ist auch sehr gut als Auszugsmittel geeignet, um mit Heilkräutern, wie z.B. Thymian oder Salbei, ein wirksames und natürliches Erkältungsmittel herzustellen (<a href="https://www.kostbarenatur.net/rezepte/heilkraeuterauszug-ohne-alkohol-mit-honig-selber-machen/">Link</a>).
                    Lippenherpes wird in der Entwicklung gehemmt, wenn die befallene Stelle im Anfangsstadium mehrmals mit etwas Honig betupft wird. Idealerweise kommt hier auch Propolistinktur zum Einsatz.
                    Warme Milch mit Honig kennen wir seit Kindertagen als Einschlafhilfe.
                </p>
                <p>
                    Viele Pollenallergiker schwören auf die Desensibilisierung mit Frühjahrshonig, der im unmittelbaren Umfeld von einem regionalen Imker erzeugt wurde. Die im Honig enthaltenen Pollen sollen das Immunsystem stimulieren, sodass die Allergie nicht oder nur in abgeschwächter Form in Erscheinung treten. Die Wirkung regionalen Honigs als Mittel zur Bekämpfung einer Pollenallergie ist wissenschaftlich aber nicht belegt.  
                    Honig kann auch zur Beschleunigung der Wundheilung bei kleinflächigen Wunden beitragen. Auf offene Wunden sollte Honig allerdings nicht gegeben werden, da im Honig vorhandene Bakterien die Wunde zusätzlich infizieren könnten. Bei großflächigen, schlecht heilenden Wunden wie z.B. offenen Beinen kann ein für solche Fälle besonders präparierter medizinischer Honig zur Heilung beitragen. Eine Behandlung mit medizinischem Honig ist langwierig und darf nur von entsprechend qualifiziertem medizinischen Fachpersonal durchgeführt werden (<a href="https://www.apotheken-umschau.de/Therapien/Honig-verspricht-bessere-Wundheilung-513741.html">Link</a>). 
                </p>
                <br>
                <p>Bildquelle: Bienenpflege Dez. 1959, heute weiß man jedoch, dass Honig für Kleinkinder nicht geeignet ist</p>
            </div>
        </div>
    </div>
</div>
