<div class="section section-navbars">
    <div id="navbar">
        <div class="container">
            <div class="tim-title">
                <h2>Warum Honig?</h2>
                <br/>
            </div>
        </div>
        <div class="navigation-example">
            <nav class="navbar navbar-expand-lg bg-danger">
                <div class="container">
                    <a class="navbar-brand" href="#">Honig als Nahrungsmittel</a>
                </div>
            </nav>
        </div>
        <div class="container">
            <br>
            <div>
                <img src="/assets/img/rezepte_festtage.jpg" class="embedded-img" alt="Honig Rezept">
            </div>
            <p>
                Honig ist sehr vielseitig einsetzbar, sowohl in herzhaften als auch in süßen Speisen sehr lecker!
            </p>
            <br>
            <h5>
                Flammkuchen mit Ziegenkäse Rosmarin und Honig
            </h5>

            <h6>Für den Teig</h6>
            <ul>
                200g Mehl<br>
                2 EL Öl<br>
                125ml Wasser<br>
            </ul>
            <h6>Für den Belag</h6>
            <ul>
                200g Crème double<br>
                200g Zwiebel<br>
                200g Ziegenkäse<br>
                3 EL Rosmarin, frisch, fein gehackt<br>
                2 EL Honig<br>
            </ul>
            <br>
            <p>
                Für den Teig das Mehl, Öl, Wasser und Salz zu einem geschmeidigen, nicht mehr klebenden Teig verarbeiten, evtl. noch etwas Mehl hinzufügen. Den Teig dünn auf einem gefetteten Backblech ausrollen. <br>
                Die Crème Double leicht salzen und auf den Teig geben. Die Zwiebeln in sehr dünne Ringe schneiden und auf dem Teig verteilen. Den Ziegenkäse in dünne Scheiben schneiden und ebenfalls auf den Teig legen. Dann die Rosmarinblättchen darüber streuen, bei getrocknetem Rosmarin vorsichtiger dosieren.<br>
                Den Flammkuchen auf höchster Stufe 15 - 20 Minuten backen, bis der Rand schön braun ist und der Käse anfängt, zu zerlaufen.<br>
                Nach dem Backen den flüssigen Honig mit einem Löffel in dünnem Strahl über den Käse geben oder separat dazu reichen. Sofort heiß servieren.<br>
            </p>
            <p>Quelle: <a href="https://www.chefkoch.de/rezepte/1248831229862746/Flammkuchen-mit-Ziegenkaese-Rosmarin-und-Honig.html">Chefkoch</a></p>
            <br>
        </div>
        <div class="container">
            <h5>
                Griechischer Joghurt mit Honig und Walnüssen
            </h5>
            <ul>
                800g griechischer Joghurt <br>
                16 Walnüsse <br>
                8 EL Honig <br>
            </ul>
            <p>
                Walnüsse aus der Schale lösen und in etwas kleinere Stücke brechen oder hacken. Joghurt in eine Schale geben. Eine dünne Schicht flüssigen Honig darüber verteilen und schließlich die Nüsse darüber streuen.
            </p>
            <p>Quelle: <a href="https://www.chefkoch.de/rezepte/1402641245176359/Griechischer-Joghurt-mit-Honig-und-Walnuessen.html">Chefkoch</a></p>
            <p>Bildquelle: Bienenpflege Dez. 1959</p>
            <br>
        </div>
        <div>
            <nav class="navbar navbar-expand-lg bg-info">
                <div class="container">
                    <a class="navbar-brand" href="#">Honig in der Naturkosmetik</a>
                </div>
            </nav>
        </div>
        <div class="container">
            <br>
            <p>
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
            </p>
            <br>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            <br>
        </div>
        <div>  
            <nav class="navbar navbar-expand-lg bg-danger">
                <div class="container">
                    <a class="navbar-brand" href="#">Honig als Heilmittel</a>
                </div>
            </nav>
        </div>
        <div class="container">
            <div class="inline">
                <br>
                <div>
                    <img src="/assets/img/heilmittel.jpg" class="embedded-img" alt="Honig als Heilmittel">
                </div>
                <p>
                    Die im Honig enthaltenen Blütenpollen unterstützen die persönliche Desensibilisierung gegenüber Pollen. Allerdings funktioniert das nur, wenn der Honig von Bienen aus der Region produziert wurde, der Honig dadurch heimische Pollen enthält und auch die Pollen enthalten sind, gegen die eine Allergie besteht.
                </p>
                <br>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                <br>
                <p>Bildquelle: Bienenpflege Dez. 1959, heute weiß man jedoch, dass Honig für Kleinkinder nicht geeignet ist</p>
            </div>
        </div>
    </div>
</div>
