<div class="modal-header">
    <h5 class="modal-title text-center">Honig bestellen</h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <p>Sie möchten Honig?</p>
    <p>Senden Sie uns eine Nachricht, und bestellen Sie vor. Abgeholt werden kann der Honig unter folgender Adresse:</p>
    <br>
    <ul>
        Amselweg 40<br>
        72663 Großbettlingen<br>
    </ul>
    <p>Alternativ sind wir erreichbar unter 07022 / 949825. Versand ist aktuell leider noch nicht möglich. Das verfügbare Sortiment kann je nach Jahreszeit variieren.</p>
    <br>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="row">
            <div class="col-lg-6">
                <div id="input_name" class="form-group">
                    <label for="name_input">
                        Name
                    </label>
                    <input id="name" type="text" class="form-control" [(ngModel)]="f.name" name="name" #name="ngModel">
                </div>
            </div>
            <div class="col-lg-6">
                <div id="input_email" class="form-group">
                    <label for="email_input">
                        Email Adresse
                    </label>
                    <input id="email" type="text" class="form-control" [(ngModel)]="f.email" name="email">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="input_message" class="form-group">
                    <label for="message_input">
                        Nachricht
                    </label>
                    <textarea id="message" type="text" class="form-control textbox" [(ngModel)]="f.message" name="message"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="btn-right">
                <button type="button" class="btn btn-default btn-link" (click)="activeModal.close('Close click')">Zurück</button>
            </div>
            <div class="btn-left">
                <button id="btn_submit" type="submit" class="btn btn-danger btn-link"><span class="btn-content"></span></button>
            </div>
        </div>
    </form>
</div>